.float {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 87px;
    right: 40px;
    background-color: #25d366;
    color: #FFF;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: 2px 2px 3px #999;
    z-index: 100;
}

.float:hover {
    text-decoration: none;
    color: #25d366;
    background-color: #fff;
}

.my-float {
    margin-top: 16px;
}

#pagconstruccion {
    background-image: url("../img/1.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position-y: 10px;
    width: 100%;
    height: 594px;
}

.modal-dialog {
    top: 60px;
}

.logofooter {
    display: block;
    margin: auto;
    width: 100px;
    border-radius: 50%;
    border: 4px #f1e116 solid;
}

header {
    width: 100%;
    height: 120px;
    padding: 10px;
    background-size: cover;
    margin-bottom: 55px;
}

body,
header,
.header {
    background-color: #050404;
}

main {
    width: 100%;
    height: 594px;
}

.coloramarillo {
    color: #f1e116;
}

.navbar-toggler {
    border: 7px #f1e116 solid;
    padding: 0px;
}

.navbar-toggler-icon {
    background-color: #f1e116;
}

nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #050404;
    margin-top: 20px;
}

nav a {
    color: black;
    float: right;
    font-size: 16px;
    display: block;
    padding: 14px 16px;
    text-decoration: none;
    font: 20px 'Quicksand', sans-serif;
}

footer {
    width: 100%;
    height: 100px;
}

nav a:hover {
    background-color: #2ECCFA;
}

@media screen and (max-width: 600px) {
    #pagconstruccion {
        height: 438px;
    }
    footer {
        height: 100px;
    }
}